body {
    background-image: url("../images/portfolio-background.png");
}

* {
    box-sizing: border-box;
  }

.nav-extended {
    background-color:blue;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: grey;
    text-align: center;
}

.contact img{
    width: 80%;
}

.homeImg img{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aboutme img{
    width: 40%;
}

.aboutme {
    background-color: white;
    background-color:white;
    color:black;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 60%;
    padding: 20px;
    text-align: center;
}

.portfolio img{
    width: 50%;
}